* {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  a[href*="tel:"] {
    pointer-events: none;
  }
}

@media only screen and (min-width: 992px) {
  a[href*="tel:"] {
    pointer-events: none;
  }
}

.page_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: minmax(10vh, auto) minmax(75vh, auto) minmax(15vh, auto);
      grid-template-rows: minmax(10vh, auto) minmax(75vh, auto) minmax(15vh, auto);
}

.number {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 2 / 5;
  color: #274C77;
  text-decoration: none;
  font-weight: bolder;
  font-stretch: ultra-expanded;
  font-size: 20px;
  padding-right: 5px;
}

.number:hover {
  color: #CD0202;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top_menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 0.5fr;
      grid-template-rows: 0.5fr;
}

.mid_menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr (0.5fr)[2];
      grid-template-columns: 0.5fr repeat(2, 0.5fr);
  -ms-grid-rows: 0.5fr;
      grid-template-rows: 0.5fr;
  display: inline;
  justify-items: center;
  text-align: center;
}

.food_menu {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: .5fr;
      grid-template-rows: .5fr;
  background-color: #CD0202;
  justify-items: center;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.food_menu:hover {
  color: #A3CEF1;
}

.food_menu:visited {
  color: #E7ECEF;
}

.food_menu:link {
  color: #A3CEF1;
}

.item_options {
  background-color: #E7ECEF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer_container {
  padding-bottom: 5px;
}

.header_menu_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 10vh 5vh 5vh;
      grid-template-rows: 10vh 5vh 5vh;
  width: 100%;
  top: -15vh;
  background-color: #E7C69F;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
}

.header_link {
  text-decoration: none;
}

.header_link:link {
  color: #274C77;
}

.header_link:hover {
  color: #E7ECEF;
}

.header_link:visited {
  color: #CD0202;
}

.header_link_food {
  text-decoration: none;
}

.header_link_food:link {
  color: #E7ECEF;
}

.header_link_food:hover {
  color: #E7C69F;
}

.header_link_food:visited {
  color: #A3CEF1;
}

.header_logo {
  max-width: 75px;
  height: 75px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  padding-top: 3px;
  padding-right: 5px;
}

.header_logo:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.header_item_container {
  display: inline;
  justify-items: center;
  text-align: center;
  margin: 10px;
  margin-right: 20px;
  padding-right: 15px;
}

.header_food_container {
  display: inline;
  justify-items: center;
  text-align: center;
  margin: 10px;
  margin-right: 20px;
  padding-right: 15px;
  color: #E7ECEF;
  text-decoration: none;
}

.footer_container {
  background: #E7C69F;
  color: #274C77;
  text-align: center;
  padding: 2px;
}

.menu_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(298px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(298px, 1fr));
  grid-column-gap: 1px;
  justify-items: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #274C77;
}

li {
  list-style: none;
  padding: 5px;
}

.item_1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  float: left;
  width: 50%;
  padding: 0 16px;
  margin-bottom: 25px;
}

.item_1_pic {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.button {
  background-color: #CD0202;
  border: none;
  padding: 12px 30px 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #E7ECEF;
  margin: 2px auto;
  cursor: pointer;
}

.dropdown_content a {
  font-style: italic;
  color: #274C77;
  padding-bottom: 1px;
  padding-top: 1px;
  text-decoration: none;
  display: inline-block;
}

.dropdown {
  padding-bottom: 10px;
}

.h1 {
  padding-bottom: 20px;
  color: #274C77;
  text-align: center;
}

.h3 {
  margin-bottom: 5px;
}

.item_2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  float: left;
  width: 50%;
  padding: 0 16px;
  margin-bottom: 25px;
}

.item_2_pic {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.item_3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  float: left;
  width: 50%;
  padding: 0 16px;
  margin-bottom: 25px;
}

.item_3_pic {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.item_4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  float: left;
  width: 50%;
  padding: 0 16px;
  margin-bottom: 25px;
}

.item_4_pic {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.item_5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  float: left;
  width: 50%;
  padding: 0 16px;
  margin-bottom: 25px;
}

.item_5_pic {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.item_6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  float: left;
  width: 50%;
  padding: 0 16px;
  margin-bottom: 25px;
}

.item_6_pic {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.item_7 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  float: left;
  width: 50%;
  padding: 0 16px;
  margin-bottom: 25px;
}

.item_7_pic {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.item_8 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  float: left;
  width: 50%;
  padding: 0 16px;
  margin-bottom: 25px;
}

.item_8_pic {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.ig {
  max-width: 20px;
  max-height: 20px;
  pad: 5px;
}

.twitter {
  max-width: 20px;
  max-height: 20px;
  pad: 5px;
}

.fb {
  max-width: 20px;
  max-height: 20px;
  pad: 5px;
}
/*# sourceMappingURL=menu.css.map */