*{
    padding: 0;
    margin: 0;
}

@import '_color.scss';

@media only screen and 
(min-width: 320px) and 
(max-width: 479px){};

@media only screen and
 (min-width: 480px) and
  (max-width: 767px){};

@media only screen and (min-width: 768px)
 and (max-width: 991px) {};

@media only screen and (min-width: 992px)
{};



.page_container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10vh, auto) minmax(80vh, auto)
    minmax(10vh, auto);
}

.address{
    text-align: center;
    color: $primary-color5;
    justify-items: center;
    font-weight: bolder;
    padding: 5px;
}
.hours{
    text-align: center;
    color: $primary-color5;
    justify-items: center;
    font-weight: 16px;
}

#home_bio{
    color:$primary-color5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

}

.store_hours{
    text-align: center;
    color: $primary-color5;
    justify-items: center;
    font-weight: 16px;
    padding-bottom: 10px;
}

.number{
    color:$primary-color5;
    text-decoration: none;
    font-weight: bolder;
    font-stretch: ultra-expanded;
    font-size: 18px;
    text-align: right;

    
    &:hover{
        color:$primary-color1;
        transform: scale(1.2);
    }


}

.pizza_oven{
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 10px;

}

.body_container{
    justify-items: center;
    text-align: center;
    background: $primary-color2;
    padding-bottom: 20px;
    padding-top: 20px;
 
   
}

.banner_photo{
    width:75%;
    padding: 10px;

}

.h1{
    text-align: center;
    padding: 10px;
    color:$primary-color5;
    font-family: Arial, Helvetica, sans-serif;
}

.video_pizza{
  width: 100%;
  max-width: 500px;
  height: 400px;
}

.bio{
    color:$primary-color5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 5px;
}

.header_container{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color:$primary-color4;
    
}


.top_header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
}

.bottom_header{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    padding-bottom: -150px;
 

}


.header_logo{
    max-width:80px;
    height: 60px;
    padding-top: 3px; 
    padding-right: 50px;

    &:hover {
        transform: scale(1.5);
    }
}

.intro{
    color:$primary-color5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.header_item_container{
    display:inline;
    justify-items: center;
    text-align: center;;
   
}

.header_link{
    color:$primary-color5;
    text-decoration: none;
    font-size: 18px;
    &:hover{
        color:$primary-color3;
    }
    &:visited{
        color:$primary-color1;
    }
 
}



.promo_deal{
    width: 100%; 
    height: 100%;
}

.banner_photo{
    cursor: crosshair;
}

.banner_photo:hover{
   transform: scale(1.2);
}

.owner_img{
    width: 100%;
    max-width: 375px;
    height: 50%;
}

.inside_img{
    width: 100%;
    max-width: 375px;
    height: auto;
    padding: 5px;
}

.store_img{
    width: 100%;
    max-width: 375px;
    height: auto;
    justify-items: center;
    text-align: center;
    padding: 10px;
}

.promo_image{
    padding-bottom: 10px;
}


.google_maps{
    position:relative;
    text-align:center;
    justify-items: center;
    height:auto;
    width:auto;}
    
    .footer_container{
      
        width: 100%;
        background: $primary-color4;
        font-size: 16px;
        color: $primary-color5;
    
    }

        
