* {
  padding: 0;
  margin: 0;
}

.page_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
      grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
}

.address {
  text-align: center;
  color: #274C77;
  justify-items: center;
  font-weight: bolder;
  padding: 5px;
}

.hours {
  text-align: center;
  color: #274C77;
  justify-items: center;
  font-weight: 16px;
}

#home_bio {
  color: #274C77;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.store_hours {
  text-align: center;
  color: #274C77;
  justify-items: center;
  font-weight: 16px;
  padding-bottom: 10px;
}

.number {
  color: #274C77;
  text-decoration: none;
  font-weight: bolder;
  font-stretch: ultra-expanded;
  font-size: 18px;
  text-align: right;
}

.number:hover {
  color: #CD0202;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.pizza_oven {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 10px;
}

.body_container {
  justify-items: center;
  text-align: center;
  background: #E7ECEF;
  padding-bottom: 20px;
  padding-top: 20px;
}

.banner_photo {
  width: 75%;
  padding: 10px;
}

.h1 {
  text-align: center;
  padding: 10px;
  color: #274C77;
  font-family: Arial, Helvetica, sans-serif;
}

.video_pizza {
  width: 100%;
  max-width: 500px;
  height: 400px;
}

.bio {
  color: #274C77;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 5px;
}

.header_container {
  width: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  background-color: #E7C69F;
}

.top_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 0.5fr;
      grid-template-rows: 0.5fr;
}

.bottom_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding-bottom: -150px;
}

.header_logo {
  max-width: 80px;
  height: 60px;
  padding-top: 3px;
  padding-right: 50px;
}

.header_logo:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.intro {
  color: #274C77;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header_item_container {
  display: inline;
  justify-items: center;
  text-align: center;
}

.header_link {
  color: #274C77;
  text-decoration: none;
  font-size: 18px;
}

.header_link:hover {
  color: #A3CEF1;
}

.header_link:visited {
  color: #CD0202;
}

.promo_deal {
  width: 100%;
  height: 100%;
}

.banner_photo {
  cursor: crosshair;
}

.banner_photo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.owner_img {
  width: 100%;
  max-width: 375px;
  height: 50%;
}

.inside_img {
  width: 100%;
  max-width: 375px;
  height: auto;
  padding: 5px;
}

.store_img {
  width: 100%;
  max-width: 375px;
  height: auto;
  justify-items: center;
  text-align: center;
  padding: 10px;
}

.promo_image {
  padding-bottom: 10px;
}

.google_maps {
  position: relative;
  text-align: center;
  justify-items: center;
  height: auto;
  width: auto;
}

.footer_container {
  width: 100%;
  background: #E7C69F;
  font-size: 16px;
  color: #274C77;
}
/*# sourceMappingURL=style.css.map */